html {
  font-size: 62.5%; /* so that 1rem = 10px*/
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Times New Roman", Times, Georgia, serif;
}

a {
  text-decoration: none;
  color: black;
}
